* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    margin: 0 5em;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    background-image: url('/img/bg-desktop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.header{
    display: flex;
    align-items: center;
    height: 20vh;
}

main{
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(5, 1fr);
    height: 70vh;
    .hero{
        grid-column: 1/4;
        justify-self: center;
        &__img{
            height: auto;
            max-width: 100%;
        }
    } 

    .form{
        grid-column: 4/6;
    }
}

footer{
    height: 10vh;
}

// font-family: 'Poppins', sans-serif;
