* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    margin: 0 5em;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    background-image: url('/img/bg-desktop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.header {
    display: flex;
    align-items: center;
    height: 20vh;
}

main {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(5, 1fr);
    height: 70vh;

    .hero {
        grid-column: 1/4;
        justify-self: center;

        &__img {
            height: auto;
            max-width: 100%;
        }
    }

    .form {
        grid-column: 4/6;
        color: white;

        &__title--font {
            font-family: 'Poppins', sans-serif;
        }

        &__title {
            margin: 1.5em 0;
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 1.5px;
            line-height: 1.5;

        }

        &__text {
            font-size: 1.6rem;
            line-height: 1.5;
        }



        a {
            &:hover {
                background-color: hsl(300, 69%, 71%);
                color: hsl(0, 0%, 100%);
            }
            display: inline-block;
            cursor: pointer;
            margin: 3em 0;
            padding: .7em 2.2em;
            width: 47%;
            border-radius: 50px;
            box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.018),
            0 12.5px 10px rgba(0, 0, 0, 0.028),
            0 30.1px 24.1px rgba(0, 0, 0, 0.038),
            0 100px 80px rgba(0, 0, 0, 0.07);
            text-decoration: none;
            text-align: center;
            background-color: #fff;
            text-decoration: none;
            color: hsl(300, 8%, 36%);
        }



    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 10vh;

    .socials {
        display: flex;
        justify-content: space-between;
        width: 20%;

        &__circle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            border: 2px solid white;
            border-radius: 50%;

            &--fb,
            &--tw,
            &--is {
                font-size: 2.5rem;
                color: white;
            }
        }

        &__circle:hover {
            color: hsl(300, 69%, 71%);
            border: 2px solid hsl(300, 69%, 71%);
        }

    }

    .attribution {
        font-size: 1.5rem;

        a {
            text-decoration: none;
            color: hsl(258, 16%, 12%);
        }
    }
}